<div class="container bg-dark text-light p-5" style="height: 90vh;">
    <div class="row h-100  ">
        {{#with resultData}}
        <h1 class="text-center fw-bold">Welcome</h1>
        <h2 class="text-center fw-bold">{{name}}</h2>
        {{/with}}
            <div class=" w-100 justify-content-center d-grid gap-2">
                <a href="/logout"><button class="btn  btn-lg btn-danger px-5 mt-5 text-white">Logout</button></a>
            </div>
    </div>
</div>